<b> In this notebook, i split the data set into Countries and Territories. I also start exploring which are the top media sources in all of the south pacific </b>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlalchemy
from sqlalchemy import create_engine
pd.set_option('display.max_rows', None)

### Load the Data

In [2]:
events = pd.read_csv("C:/Users/dlili/OneDrive/Documents/CSUMB/UROC Fall 2020/CSV Files/Events_Table_10042020.csv")
eventmentions = pd.read_csv("C:/Users/dlili/OneDrive/Documents/CSUMB/UROC Fall 2020/CSV Files/Eventmentions_Table_10042020.csv")
events_and_eventmentions = pd.merge(events, eventmentions, how='left', on='GLOBALEVENTID')
#gkg = pd.read_csv("C:/Users/dlili/OneDrive/Documents/CSUMB/UROC Fall 2020/python Programming/gkgTable.csv")
#events_eventmentions_gkg = pd.merge(events_and_eventmentions, gkg, how='inner', on='MentionIdentifier')
del events
del eventmentions

# Create the SQL engine 
engine = create_engine('sqlite://', echo=False)
events_and_eventmentions.to_sql('events_and_eventmentions', con=engine)

In [3]:
events_and_eventmentions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3027338 entries, 0 to 3027337
Data columns (total 28 columns):
 #   Column                 Dtype
---  ------                 -----
 0   GLOBALEVENTID          int64
 1   SQLDATE                int64
 2   MonthYear              int64
 3   Actor1Name             object
 4   Actor1CountryCode      object
 5   Actor2Name             object
 6   Actor2CountryCode      object
 7   EventCode              int64
 8   GoldsteinScale         float64
 9   NumMentions            int64
 10  NumSources             int64
 11  NumArticles            int64
 12  AvgTone                float64
 13  Actor1Geo_FullName     object
 14  Actor1Geo_CountryCode  object
 15  Actor2Geo_FullName     object
 16  Actor2Geo_CountryCode  object
 17  ActionGeo_FullName     object
 18  ActionGeo_ADM1Code     object
 19  ActionGeo_ADM2Code     float64
 20  SOURCEURL              object
 21  MentionTimeDate        float64
 22  MentionType            float64
 23  MentionSourceName      object
 24  MentionIdentifier      object
 25  Confidence             float64
 26  MentionDocLen          float64
 27  MentionDocTone         float64
dtypes: float64(8), int64(7), object(13)
memory usage: 669.8+ MB

In [4]:
events_and_eventmentions = events_and_eventmentions.convert_dtypes()

In [5]:
events_and_eventmentions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3027338 entries, 0 to 3027337
Data columns (total 28 columns):
 #   Column                 Dtype
---  ------                 -----
 0   GLOBALEVENTID          Int64
 1   SQLDATE                Int64
 2   MonthYear              Int64
 3   Actor1Name             string
 4   Actor1CountryCode      string
 5   Actor2Name             string
 6   Actor2CountryCode      string
 7   EventCode              Int64
 8   GoldsteinScale         float64
 9   NumMentions            Int64
 10  NumSources             Int64
 11  NumArticles            Int64
 12  AvgTone                float64
 13  Actor1Geo_FullName     string
 14  Actor1Geo_CountryCode  string
 15  Actor2Geo_FullName     string
 16  Actor2Geo_CountryCode  string
 17  ActionGeo_FullName     string
 18  ActionGeo_ADM1Code     string
 19  ActionGeo_ADM2Code     Int64
 20  SOURCEURL              string
 21  MentionTimeDate        Int64
 22  MentionType            Int64
 23  MentionSourceName      string
 24  MentionIdentifier      string
 25  Confidence             Int64
 26  MentionDocLen          Int64
 27  MentionDocTone         float64
dtypes: Int64(12), float64(3), string(13)
memory usage: 704.5 MB

### Split the events and eventmentions table into countries and territories.

In [6]:
query = """
SELECT GLOBALEVENTID, SQLDATE, MonthYear, Actor1Name, Actor1CountryCode, Actor2Name, Actor2CountryCode, EventCode, GoldsteinScale, NumMentions,
NumSources, NumArticles, AvgTone, Actor1Geo_FullName, Actor1Geo_CountryCode, Actor2Geo_FullName, Actor2Geo_CountryCode,  ActionGeo_FullName, ActionGeo_ADM1Code,
ActionGeo_ADM2Code, SOURCEURL, MentionTimeDate, MentionType, MentionSourceName, MentionIdentifier, Confidence, MentionDocLen, MentionDocTone
FROM events_and_eventmentions
WHERE ActionGeo_ADM1Code like 'PP%' OR 
    ActionGeo_ADM1Code like 'TN%' OR
    ActionGeo_ADM1Code like 'NH%' OR
    ActionGeo_ADM1Code like 'NE%' OR
    ActionGeo_ADM1Code like 'FP%' OR
    ActionGeo_ADM1Code like 'PS%' OR
    ActionGeo_ADM1Code like 'FJ%' OR
    ActionGeo_ADM1Code like 'NR%' OR
    ActionGeo_ADM1Code like 'ID%' OR
    ActionGeo_ADM1Code like 'FM%' OR
    ActionGeo_ADM1Code like 'TV%' OR
    ActionGeo_ADM1Code like 'BP%' OR
    ActionGeo_ADM1Code like 'CW%' OR
    ActionGeo_ADM1Code like 'KR%' OR
    ActionGeo_ADM1Code like 'RM%' OR
    ActionGeo_ADM1Code like 'WS%' 
"""

# Execute the query and save the result
temp_result = engine.execute(query).fetchall()
# Convert result into numpy array
temp1 = np.array(temp_result)
# Convert np array into dataframe
countries = pd.DataFrame(data=temp1, columns=['GLOBALEVENTID', 'SQLDATE', 'MonthYear', 'Actor1Name', 'Actor1CountryCode', 'Actor2Name', 'Actor2CountryCode', 'EventCode', 'GoldsteinScale', 'NumMentions' ,'NumSources', 'NumArticles', 'AvgTone', 'Actor1Geo_FullName', 'Actor1Geo_CountryCode', 'Actor2Geo_FullName', 'Actor2Geo_CountryCode',  'ActionGeo_FullName', 'ActionGeo_ADM1Code', 'ActionGeo_ADM2Code', 'SOURCEURL', 'MentionTimeDate', 'MentionType', 'MentionSourceName', 'MentionIdentifier', 'Confidence', 'MentionDocLen', 'MentionDocTone'])
# Convert the datatypes from Object 
countries = countries.convert_dtypes()
# Show the top 10 results
countries.head(10)

,GLOBALEVENTID,SQLDATE,MonthYear,Actor1Name,Actor1CountryCode,Actor2Name,Actor2CountryCode,EventCode,GoldsteinScale,NumMentions,...,ActionGeo_ADM1Code,ActionGeo_ADM2Code,SOURCEURL,MentionTimeDate,MentionType,MentionSourceName,MentionIdentifier,Confidence,MentionDocLen,MentionDocTone
0,950173152,20201004,202010,INDIGENOUS PEOPLE,<NA>,<NA>,<NA>,141,-6.5,2,...,PP15,18585,https://minorityrights.org/trends2020/pacific/,20201004184500,1,minorityrights.org,https://minorityrights.org/trends2020/pacific/,20,7246,-1.035375
1,927362269,20200604,202006,<NA>,<NA>,TONGA,TON,14,0.0,2,...,TN03,27407,https://parliament.gov.to/media-centre/latest-...,20200604131500,1,parliament.gov.to,https://parliament.gov.to/media-centre/latest-...,20,3545,0.528169
2,927362269,20200604,202006,<NA>,<NA>,TONGA,TON,14,0.0,2,...,TN03,27407,https://parliament.gov.to/media-centre/latest-...,20200604221500,1,parliament.gov.to,https://parliament.gov.to/media-centre/latest-...,20,3545,0.528169
3,927362269,20200604,202006,<NA>,<NA>,TONGA,TON,14,0.0,2,...,TN03,27407,https://parliament.gov.to/media-centre/latest-...,20200604103000,1,parliament.gov.to,https://parliament.gov.to/media-centre/latest-...,20,3545,0.528169
4,927309855,20200604,202006,<NA>,<NA>,VANUATU,VUT,43,2.8,8,...,NH15,40197,https://watchers.news/2020/06/03/the-weekly-vo...,20200604041500,1,watchers.news,https://watchers.news/2020/06/03/the-weekly-vo...,80,25407,-4.606770
5,927507094,20200605,202006,<NA>,<NA>,PETER ONEILL,PNG,36,4.0,6,...,PP14,18585,http://www.pireport.org/articles/2013/01/17/3-...,20200605001500,1,pireport.org,http://www.pireport.org/articles/2013/01/17/3-...,60,1276,-4.444444
6,927330439,20200604,202006,<NA>,<NA>,UNITED KINGDOM,GBR,57,8.0,2,...,TN00,27407,https://www.thenational.scot/news/18494355.tin...,20200604070000,1,thenational.scot,https://www.thenational.scot/news/18494355.tin...,20,3392,2.852050
7,927362204,20200604,202006,<NA>,<NA>,THE PM,<NA>,40,1.0,10,...,TN01,27407,https://parliament.gov.to/media-centre/latest-...,20200604103000,1,parliament.gov.to,https://parliament.gov.to/media-centre/latest-...,100,5322,-1.135074
8,927362212,20200604,202006,<NA>,<NA>,THE PM,<NA>,100,-5.0,6,...,TN01,27407,https://parliament.gov.to/media-centre/latest-...,20200604131500,1,parliament.gov.to,https://parliament.gov.to/media-centre/latest-...,60,5322,-1.135074
9,927362212,20200604,202006,<NA>,<NA>,THE PM,<NA>,100,-5.0,6,...,TN01,27407,https://parliament.gov.to/media-centre/latest-...,20200604221500,1,parliament.gov.to,https://parliament.gov.to/media-centre/latest-...,60,5322,-1.135074

In [7]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2445882 entries, 0 to 2445881
Data columns (total 28 columns):
 #   Column                 Dtype
---  ------                 -----
 0   GLOBALEVENTID          Int64
 1   SQLDATE                Int64
 2   MonthYear              Int64
 3   Actor1Name             string
 4   Actor1CountryCode      string
 5   Actor2Name             string
 6   Actor2CountryCode      string
 7   EventCode              Int64
 8   GoldsteinScale         float64
 9   NumMentions            Int64
 10  NumSources             Int64
 11  NumArticles            Int64
 12  AvgTone                float64
 13  Actor1Geo_FullName     string
 14  Actor1Geo_CountryCode  string
 15  Actor2Geo_FullName     string
 16  Actor2Geo_CountryCode  string
 17  ActionGeo_FullName     string
 18  ActionGeo_ADM1Code     string
 19  ActionGeo_ADM2Code     Int64
 20  SOURCEURL              string
 21  MentionTimeDate        Int64
 22  MentionType            Int64
 23  MentionSourceName      string
 24  MentionIdentifier      string
 25  Confidence             Int64
 26  MentionDocLen          Int64
 27  MentionDocTone         float64
dtypes: Int64(12), float64(3), string(13)
memory usage: 550.5 MB

In [10]:
query = """
SELECT GLOBALEVENTID, SQLDATE, MonthYear, Actor1Name, Actor1CountryCode, Actor2Name, Actor2CountryCode, EventCode, GoldsteinScale, NumMentions,
NumSources, NumArticles, AvgTone, Actor1Geo_FullName, Actor1Geo_CountryCode, Actor2Geo_FullName, Actor2Geo_CountryCode,  ActionGeo_FullName, ActionGeo_ADM1Code,
ActionGeo_ADM2Code, SOURCEURL, MentionTimeDate, MentionType, MentionSourceName, MentionIdentifier, Confidence, MentionDocLen, MentionDocTone
FROM events_and_eventmentions
WHERE ActionGeo_ADM1Code like 'WQ%' OR 
    ActionGeo_ADM1Code like 'CI%' OR
    ActionGeo_ADM1Code like 'PC%' OR
    ActionGeo_ADM1Code like 'NF%' OR
    ActionGeo_ADM1Code like 'CQ%' OR
    ActionGeo_ADM1Code like 'EC%' OR
    ActionGeo_ADM1Code like 'OS%' OR
    ActionGeo_ADM1Code like 'TL%' OR
    ActionGeo_ADM1Code like 'JQ%' OR
    ActionGeo_ADM1Code like 'HQ%' OR
    ActionGeo_ADM1Code like 'WF%' OR
    ActionGeo_ADM1Code like 'AS%' OR
    ActionGeo_ADM1Code like 'LQ%' OR
    ActionGeo_ADM1Code like 'FQ%' OR
    ActionGeo_ADM1Code like 'JA%' Or
    ActionGeo_ADM1Code like 'KQ%' OR
    ActionGeo_ADM1Code like 'DQ%' OR
    ActionGeo_ADM1Code like 'AQ%' OR
    ActionGeo_ADM1Code like 'GQ%' OR
    ActionGeo_ADM1Code like 'NC%' 
"""

# Execute the query and save the result
temp_result = engine.execute(query).fetchall()
# Convert result into numpy array
temp1 = np.array(temp_result)
# Convert np array into dataframe
territories = pd.DataFrame(data=temp1, columns=['GLOBALEVENTID', 'SQLDATE', 'MonthYear', 'Actor1Name', 'Actor1CountryCode', 'Actor2Name', 'Actor2CountryCode', 'EventCode', 'GoldsteinScale', 'NumMentions' ,'NumSources', 'NumArticles', 'AvgTone', 'Actor1Geo_FullName', 'Actor1Geo_CountryCode', 'Actor2Geo_FullName', 'Actor2Geo_CountryCode',  'ActionGeo_FullName', 'ActionGeo_ADM1Code', 'ActionGeo_ADM2Code', 'SOURCEURL', 'MentionTimeDate', 'MentionType', 'MentionSourceName', 'MentionIdentifier', 'Confidence', 'MentionDocLen', 'MentionDocTone'])
# Convert the datatypes from Object 
territories = territories.convert_dtypes()
# Show the top 10 results
territories.head(10)

,GLOBALEVENTID,SQLDATE,MonthYear,Actor1Name,Actor1CountryCode,Actor2Name,Actor2CountryCode,EventCode,GoldsteinScale,NumMentions,...,ActionGeo_ADM1Code,ActionGeo_ADM2Code,SOURCEURL,MentionTimeDate,MentionType,MentionSourceName,MentionIdentifier,Confidence,MentionDocLen,MentionDocTone
0,950179480,20201004,202010,CIVILIAN,<NA>,MARINES,<NA>,50,3.5,1,...,WQ,<NA>,https://www.hometheaterforum.com/wake-island-b...,20201004194500,1,hometheaterforum.com,https://www.hometheaterforum.com/wake-island-b...,10,7438,0.170068
1,950179635,20201004,202010,JAPANESE,JPN,CIVILIAN,<NA>,154,-7.2,1,...,WQ,<NA>,https://www.hometheaterforum.com/wake-island-b...,20201004194500,1,hometheaterforum.com,https://www.hometheaterforum.com/wake-island-b...,10,7438,0.170068
2,950179642,20201004,202010,JAPANESE,JPN,CIVILIAN,<NA>,154,-7.2,6,...,WQ,<NA>,https://www.hometheaterforum.com/wake-island-b...,20201004194500,1,hometheaterforum.com,https://www.hometheaterforum.com/wake-island-b...,60,7438,0.170068
3,950179778,20201004,202010,FIGHTER,<NA>,MARINES,<NA>,84,7.0,1,...,WQ,<NA>,https://www.hometheaterforum.com/wake-island-b...,20201004194500,1,hometheaterforum.com,https://www.hometheaterforum.com/wake-island-b...,10,7438,0.170068
4,927462817,20200604,202006,ALTAI,RUS,<NA>,<NA>,51,3.4,3,...,CI01,149631,https://www.msn.com/en-gb/travel/tripideas/9-i...,20200604193000,1,msn.com,https://www.msn.com/en-gb/travel/tripideas/9-i...,30,7656,0.159490
5,927317480,20200604,202006,PITCAIRN,GBR,POLICE,<NA>,10,0.0,2,...,PC00,24279,https://www.abc.net.au/news/2020-06-04/report-...,20200604051500,1,abc.net.au,https://www.abc.net.au/news/2020-06-04/report-...,20,3059,-2.251407
6,927317481,20200604,202006,PITCAIRN,GBR,POLICE,<NA>,13,0.4,2,...,PC00,24279,https://www.abc.net.au/news/2020-06-04/report-...,20200604051500,1,abc.net.au,https://www.abc.net.au/news/2020-06-04/report-...,20,3059,-2.251407
7,916845101,20200407,202004,<NA>,<NA>,RESIDENTS,<NA>,20,3.0,10,...,NF,<NA>,https://www.dailymail.co.uk/news/article-81909...,20200407064500,1,dailymail.co.uk,https://www.dailymail.co.uk/news/article-81909...,100,10661,-6.995885
8,916845150,20200407,202004,<NA>,<NA>,WORKER,<NA>,36,4.0,5,...,NF,<NA>,https://www.dailymail.co.uk/news/article-81909...,20200407064500,1,dailymail.co.uk,https://www.dailymail.co.uk/news/article-81909...,50,10661,-6.995885
9,916549402,20200405,202004,<NA>,<NA>,MAYOR,<NA>,36,4.0,5,...,CI01,149631,https://www.thejakartapost.com/travel/2020/04/...,20200405134500,1,thejakartapost.com,https://www.thejakartapost.com/travel/2020/04/...,50,4713,-3.520209

In [11]:
territories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581456 entries, 0 to 581455
Data columns (total 28 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   GLOBALEVENTID          581456 non-null  Int64
 1   SQLDATE                581456 non-null  Int64
 2   MonthYear              581456 non-null  Int64
 3   Actor1Name             524020 non-null  string
 4   Actor1CountryCode      331495 non-null  string
 5   Actor2Name             385957 non-null  string
 6   Actor2CountryCode      249757 non-null  string
 7   EventCode              581456 non-null  Int64
 8   GoldsteinScale         581456 non-null  float64
 9   NumMentions            581456 non-null  Int64
 10  NumSources             581456 non-null  Int64
 11  NumArticles            581456 non-null  Int64
 12  AvgTone                581456 non-null  float64
 13  Actor1Geo_FullName     523852 non-null  string
 14  Actor1Geo_CountryCode  524020 non-null  string
 15  Actor2Geo_FullName     385928 non-null  string
 16  Actor2Geo_CountryCode  385957 non-null  string
 17  ActionGeo_FullName     581456 non-null  string
 18  ActionGeo_ADM1Code     581456 non-null  string
 19  ActionGeo_ADM2Code     51554 non-null   Int64
 20  SOURCEURL              581456 non-null  string
 21  MentionTimeDate        581361 non-null  Int64
 22  MentionType            581361 non-null  Int64
 23  MentionSourceName      581359 non-null  string
 24  MentionIdentifier      581361 non-null  string
 25  Confidence             581361 non-null  Int64
 26  MentionDocLen          581361 non-null  Int64
 27  MentionDocTone         581361 non-null  float64
dtypes: Int64(12), float64(3), string(13)
memory usage: 130.9 MB

### Who are the top URL sources of Oceania?

In [12]:
query = """
SELECT MentionSourceName, count(*) as count
FROM events_and_eventmentions
GROUP BY MentionSourceName
ORDER BY count DESC
"""

# Execute the query and save the result
temp_result = engine.execute(query).fetchall()
# Convert result into numpy array
temp1 = np.array(temp_result)
# Convert np array into dataframe
df2 = pd.DataFrame(data=temp1, columns=['MentionSourceName', 'count'])
# Convert the datatypes from Object 
df2 = df2.convert_dtypes()
# Show the top 30 results
df2.head(30)

        MentionSourceName  count
0           fijitimes.com  99407
1          fijisun.com.fj  85108
2             pina.com.fj  68026
3            pireport.org  67871
4           radionz.co.nz  56288
5             guampdn.com  52546
6        samoaobserver.ws  42249
7       parliament.gov.to  40350
8           samoanews.com  38444
9              iheart.com  35851
10        fijivillage.com  31574
11               kuam.com  27638
12              yahoo.com  27175
13            scoop.co.nz  24386
14    cookislandsnews.com  23524
15             fbc.com.fj  22622
16              rnz.co.nz  21039
17                msn.com  20712
18           dailypost.vu  19497
19     postcourier.com.pg  18721
20    solomonstarnews.com  17212
21            reuters.com  16764
22         nzherald.co.nz  16520
23           mvariety.com  15714
24            stuff.co.nz  14457
25     eastwestcenter.org  14355
26     couriermail.com.au  14160
27  pacificnewscenter.com  14091
28             abc.net.au  13925
29        dailymail.co.uk  13889

### Who are the top URL sources for Oceania Territories?

In [22]:
engine = create_engine('sqlite://', echo=False)
territories.to_sql('territories', con=engine)

query = """
SELECT MentionSourceName, count(*) as count
FROM territories
GROUP BY MentionSourceName
ORDER BY count DESC
"""

# Execute the query and save the result
temp_result = engine.execute(query).fetchall()
# Convert result into numpy array
temp1 = np.array(temp_result)
# Convert np array into dataframe
df2 = pd.DataFrame(data=temp1, columns=['MentionSourceName', 'count'])
# Convert the datatypes from Object 
df2 = df2.convert_dtypes()
# Show the top 30 results
df2.head(30)

        MentionSourceName  count
0             guampdn.com  50553
1                kuam.com  27097
2   pacificnewscenter.com  13872
3            mvariety.com  10031
4           samoanews.com   9399
5            pireport.org   8736
6              mvguam.com   7596
7           radionz.co.nz   5952
8               yahoo.com   4318
9            postguam.com   3708
10             iheart.com   3526
11      saipantribune.com   3493
12                 ap.org   2748
13                msn.com   2740
14            pina.com.fj   2680
15        dailymail.co.uk   2497
16            stripes.com   2466
17     eastwestcenter.org   2192
18            reuters.com   2164
19           philstar.com   1913
20             sfgate.com   1868
21              rnz.co.nz   1740
22     washingtonpost.com   1609
23       theherald.com.au   1514
24              chron.com   1511
25           usatoday.com   1500
26               navy.mil   1439
27     couriermail.com.au   1391
28         nzherald.co.nz   1326
29                 af.mil   1287

### Who are the top URL sources for Oceania Territories where the ActionGeo_ADM1Code is not Actor2Geo_CountryCode or Actor1Geo_CountryCode

In [23]:
query = """
SELECT MentionSourceName, count(*) as count
FROM territories
WHERE ((SUBSTR(ActionGeo_ADM1Code, 1,2) IS NOT SUBSTR(Actor1Geo_CountryCode,1,2)) OR (SUBSTR(ActionGeo_ADM1Code, 1,2) IS NOT SUBSTR(Actor2Geo_CountryCode, 1,2)))
GROUP BY MentionSourceName
ORDER BY count DESC
"""

# Execute the query and save the result
temp_result = engine.execute(query).fetchall()
# Convert result into numpy array
temp1 = np.array(temp_result)
# Convert np array into dataframe
df2 = pd.DataFrame(data=temp1, columns=['MentionSourceName', 'count'])
# Convert the datatypes from Object 
df2 = df2.convert_dtypes()
# Show the top 30 results
df2.head(30)

        MentionSourceName  count
0             guampdn.com  29463
1                kuam.com  15730
2   pacificnewscenter.com   7267
3            mvariety.com   5984
4           samoanews.com   5579
5            pireport.org   4998
6              mvguam.com   4470
7           radionz.co.nz   3712
8               yahoo.com   2783
9            postguam.com   2225
10      saipantribune.com   2147
11                msn.com   1888
12                 ap.org   1737
13            stripes.com   1670
14            pina.com.fj   1638
15        dailymail.co.uk   1559
16           philstar.com   1465
17            reuters.com   1459
18     eastwestcenter.org   1220
19             sfgate.com   1147
20     couriermail.com.au   1088
21     washingtonpost.com   1051
22              rnz.co.nz   1032
23       theherald.com.au    959
24              chron.com    916
25         nzherald.co.nz    911
26              pafoa.org    878
27           usatoday.com    859
28               navy.mil    856
29                 af.mil    837

### Who are the top URL sources for Oceania Territories where the ActionGeo_ADM1Code is not Actor2Geo_CountryCode and Actor1Geo_CountryCode

In [24]:
query = """
SELECT MentionSourceName, count(*) as count
FROM territories
WHERE ((SUBSTR(ActionGeo_ADM1Code, 1,2) IS NOT SUBSTR(Actor1Geo_CountryCode,1,2)) AND (SUBSTR(ActionGeo_ADM1Code, 1,2) IS NOT SUBSTR(Actor2Geo_CountryCode, 1,2)))
GROUP BY MentionSourceName
ORDER BY count DESC
"""

# Execute the query and save the result
temp_result = engine.execute(query).fetchall()
# Convert result into numpy array
temp1 = np.array(temp_result)
# Convert np array into dataframe
df2 = pd.DataFrame(data=temp1, columns=['MentionSourceName', 'count'])
# Convert the datatypes from Object 
df2 = df2.convert_dtypes()
# Show the top 30 results
df2.head(30)

        MentionSourceName  count
0             guampdn.com    860
1           radionz.co.nz    590
2            pireport.org    525
3               yahoo.com    473
4                kuam.com    433
5            mvariety.com    377
6            philstar.com    370
7         wickedlocal.com    361
8             pina.com.fj    345
9           samoanews.com    334
10            reuters.com    334
11            stripes.com    310
12                 ap.org    308
13                msn.com    305
14     couriermail.com.au    238
15        dailymail.co.uk    211
16              rnz.co.nz    207
17      news-sentinel.com    196
18   theaustralian.com.au    189
19           postguam.com    178
20  dailytelegraph.com.au    164
21       heraldsun.com.au    163
22     eastwestcenter.org    157
23             sfgate.com    138
24            nbcnews.com    137
25      saipantribune.com    136
26         nzherald.co.nz    134
27     washingtonpost.com    133
28            scoop.co.nz    131
29               navy.mil    123

## Who are the top URL sources for Oceania Countries?

In [14]:
engine = create_engine('sqlite://', echo=False)
countries.to_sql('countries', con=engine)

query = """
SELECT MentionSourceName, count(*) as count
FROM countries
GROUP BY MentionSourceName
ORDER BY count DESC
"""

# Execute the query and save the result
temp_result = engine.execute(query).fetchall()
# Convert result into numpy array
temp1 = np.array(temp_result)
# Convert np array into dataframe
df2 = pd.DataFrame(data=temp1, columns=['MentionSourceName', 'count'])
# Convert the datatypes from Object 
df2 = df2.convert_dtypes()
# Show the top 30 results
df2.head(30)

        MentionSourceName  count
0           fijitimes.com  99082
1          fijisun.com.fj  84989
2             pina.com.fj  65346
3            pireport.org  59135
4           radionz.co.nz  50336
5        samoaobserver.ws  41824
6       parliament.gov.to  40350
7              iheart.com  32325
8         fijivillage.com  31540
9           samoanews.com  29045
10    cookislandsnews.com  23325
11            scoop.co.nz  23296
12              yahoo.com  22857
13             fbc.com.fj  22594
14              rnz.co.nz  19299
15           dailypost.vu  19004
16     postcourier.com.pg  18587
17                msn.com  17972
18    solomonstarnews.com  17049
19         nzherald.co.nz  15194
20            reuters.com  14600
21            stuff.co.nz  13847
22             abc.net.au  13375
23     couriermail.com.au  12769
24            typepad.com  12585
25  dailytelegraph.com.au  12192
26     eastwestcenter.org  12163
27            emtv.com.pg  11739
28        dailymail.co.uk  11392
29       heraldsun.com.au   9564

### Who are the top URL sources for Oceania Countries where the ActionGeo_ADM1Code is not Actor2Geo_CountryCode or Actor1Geo_CountryCode

In [20]:
query = """
SELECT MentionSourceName, count(*) as count
FROM countries
WHERE ((SUBSTR(ActionGeo_ADM1Code, 1,2) IS NOT SUBSTR(Actor1Geo_CountryCode,1,2)) OR (SUBSTR(ActionGeo_ADM1Code, 1,2) IS NOT SUBSTR(Actor2Geo_CountryCode, 1,2)))
GROUP BY MentionSourceName
ORDER BY count DESC
"""

# Execute the query and save the result
temp_result = engine.execute(query).fetchall()
# Convert result into numpy array
temp1 = np.array(temp_result)
# Convert np array into dataframe
df2 = pd.DataFrame(data=temp1, columns=['MentionSourceName', 'count'])
# Convert the datatypes from Object 
df2 = df2.convert_dtypes()
# Show the top 30 results
df2.head(30)

        MentionSourceName  count
0           fijitimes.com  56014
1          fijisun.com.fj  47674
2             pina.com.fj  39040
3            pireport.org  33237
4           radionz.co.nz  27316
5        samoaobserver.ws  24477
6       parliament.gov.to  24135
7              iheart.com  20889
8         fijivillage.com  17174
9           samoanews.com  16884
10            scoop.co.nz  15085
11    cookislandsnews.com  14798
12              yahoo.com  14565
13             fbc.com.fj  11985
14                msn.com  11676
15           dailypost.vu  11054
16              rnz.co.nz  10659
17     postcourier.com.pg  10187
18    solomonstarnews.com   9621
19         nzherald.co.nz   9551
20            stuff.co.nz   9206
21            reuters.com   8834
22     couriermail.com.au   8045
23  dailytelegraph.com.au   7956
24             abc.net.au   7902
25            typepad.com   7639
26        dailymail.co.uk   7593
27     eastwestcenter.org   6896
28            emtv.com.pg   6338
29       heraldsun.com.au   6205

### Who are the top URL sources for Oceania Countries where the ActionGeo_ADM1Code is not Actor2Geo_CountryCode and Actor1Geo_CountryCode

In [21]:
query = """
SELECT MentionSourceName, count(*) as count
FROM countries
WHERE ((SUBSTR(ActionGeo_ADM1Code, 1,2) IS NOT SUBSTR(Actor1Geo_CountryCode,1,2)) AND (SUBSTR(ActionGeo_ADM1Code, 1,2) IS NOT SUBSTR(Actor2Geo_CountryCode, 1,2)))
GROUP BY MentionSourceName
ORDER BY count DESC
"""

# Execute the query and save the result
temp_result = engine.execute(query).fetchall()
# Convert result into numpy array
temp1 = np.array(temp_result)
# Convert np array into dataframe
df2 = pd.DataFrame(data=temp1, columns=['MentionSourceName', 'count'])
# Convert the datatypes from Object 
df2 = df2.convert_dtypes()
# Show the top 30 results
df2.head(30)

        MentionSourceName  count
0             pina.com.fj   6515
1              iheart.com   4850
2            pireport.org   4511
3           fijitimes.com   3711
4             scoop.co.nz   3263
5          fijisun.com.fj   2924
6           radionz.co.nz   2904
7               yahoo.com   2721
8                 msn.com   2017
9        samoaobserver.ws   1994
10                 ap.org   1931
11            reuters.com   1886
12    cookislandsnews.com   1879
13      parliament.gov.to   1773
14  dailytelegraph.com.au   1752
15       heraldsun.com.au   1328
16     couriermail.com.au   1315
17              rnz.co.nz   1304
18         nzherald.co.nz   1218
19          samoanews.com   1216
20     eastwestcenter.org   1104
21             abc.net.au   1098
22        dailymail.co.uk   1090
23            stuff.co.nz   1058
24  business-standard.com    987
25           dailypost.vu    953
26          reliefweb.int    897
27     adelaidenow.com.au    810
28        fijivillage.com    808
29         indiatimes.com    796